body {
    margin: 1%;
    font-family: 'Gill Sans', ' Gill Sans MT', Calibri, ' Trebuchet MS', sans-serif;
    line-height: 1.6;
    padding: 2px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    flex: 1 0 auto;
}

.contenedortotal {
    position: relative;
    display: grid;
}

#header {
    position: static;
    width: 40%;
    height: 40.9vh;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
}

#imagestore {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 60%;
    height: 100%;
    box-sizing: border-box;
}

#header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    background-color: #5e452f;
    z-index: -1;
}

.logoalma {
    display: block;
    margin-top: 4%;
    margin-left: 8%;
    margin-right: auto;
}

.logoalma img {
    width: 100%;
    height: auto;
    display: block;
    width: 32vw;
    top: 90%;
}

.navbar {
    text-align: center;
    position: relative;
    margin-top: auto;
    width: 40%;
    background-color: #5e452f;
}

.nav-item {
    display: inline-block;
    margin: 0 29px;
    justify-content: center;
    color: #5e452f;
}

.navbar-brand {
    color: antiquewhite;
    justify-content: center;
    font-size: 1.3vw;
}

.navbar-nav .nav-link:hover {
    color: antiquewhite;
    font-size: 1vw;
    text-align: center;
}

.nav-item {
    font-size: 1.29vw;
    justify-content: center;
    color: antiquewhite;
}

.navbar-nav .dropdown-menu .dropdown-item {
    color: #5e452f;
    font-size: 1.3vw;
}

.nav-link {
    color: antiquewhite;
}

.line-menu {
    background-image: linear-gradient(to right, antiquewhite, #5e452f);
    height: 1px;
    position: relative;
    z-index: 2;
    width: 36vw;
}

.content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    max-width: 100%;
    margin-top: 2%;
}

.tarjetas1,
.tarjetas2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    color: #5e452f;
}

.tarjetas1 {
    margin-bottom: 0;
}

.tarjetas2 {
    margin-top: -300px;
    margin-bottom: -270px;
}

.card {
    flex: 0 0 25%;
    margin: 0 1%;
    text-align: center;
    color: #5e452f;
    margin-top: 30%;
}

.card img {
    height: 200px;
    object-fit: contain;
    padding: 2px;
    border-radius: 2px;
}

.card-body {
    height: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card-title {
    font-weight: bold;
}

.tarjetas1 .card:nth-child(2) {
    height: 33vw;
}

.btn-primary {
    background-color: #5e452f;
    border: #5e452f;
}

.btn-primary:hover {
    background-color: #978262;
}


.content h2 {
    font-size: 4vw;
    text-align: center;
    color: #5e452f;
}

#footer {
    position: relative;
    margin-top: 0;
    width: 100%;
    text-align: center;
    background-color: #5e452f;
    color: antiquewhite;
    padding: 10px 0;

}

@media screen and (min-width: 1920px) and (min-height: 1080px) {
    #imagestore {
        position: absolute;
        right: 0;
        top: 700% !important;
        transform: translateY(-50%);
        width: 60%;
        height: 40vh;
        box-sizing: border-box;
    }
}

@media screen and (min-width: 1024px) and (min-height: 768px) {
    #header {
        height: 39.4vh !important;
    }

    .nav-item {
        display: inline-block;
        margin: 0 50px;
        justify-content: center;
        color: #5e452f;
    }

    #footer {
        margin-top: 5%;
    }

    .content {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        max-width: 100%;
        margin-top: 2%;
    }

    .tarjetas1,
    .tarjetas2 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20%;
        color: #5e452f;
    }

    .tarjetas1 {
        margin-bottom: 0;
        margin-top: -100px;
    }

    .tarjetas2 {
        margin-top: -455px;
        margin-bottom: -430px;
    }

    .card {
        flex: 0 0 18%;
        margin: 0 3%;
        text-align: center;
        color: #5e452f;
        margin-top: 30%;
    }

    .card img {
        height: 200px;
        object-fit: contain;
        padding: 2px;
        border-radius: 2px;
    }

    .card-body {
        height: 1%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .tarjetas1 .card:nth-child(2) {
        height: 22vw;
    }

    .tarjetas2 .card:nth-child(1) {
        height: 21vw;
    }
}

@media screen and (max-width: 768px) {

    #header {
        height: 12vh;
    }
}